<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training with the ASP.NET Monsters</title>
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/0.3.0/tippy.css" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@@AspNetMonsters" />
    <meta name="twitter:title" content="ASP.NET Core Training" />
    <meta name="twitter:description" content="Join Simon, Dave and James to learn how to build ASP.NET Core MVC Applications." />
    <meta name="twitter:image" content="https://raw.githubusercontent.com/AspNetMonsters/website/master/souom a VS publish #experssrce/images/logo_400_square.png" />

</head>
<body>


    @RenderBody()

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/0.3.0/tippy.js"></script>

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/what-input.js"></script>
    <script src="/js/vendor/foundation.js"></script>
    <script src="/js/app.js"></script>    
    
    @RenderSection("Scripts", required:false)

</body>
</html>
